<html>
    <head>
        <link rel="stylesheet" href="/public/member.css">
    </head>
    <body>
        <h1>Member Page!!!</h1>
        {{#if isMember}}
            <div>회원입니다 환영~!</div>
        {{else}}
            <div>로그인이 필요한 페이지 입니다.</div>
        {{/if}}
        <script src="/public/member.js"></script>
    </body>
</html>
react    =>    WEB -js
라이브러리 프레임워크

react-native  =>   APP -js

paas saas iaas

모바일

( 브라우져위에서 동작 )
웹페이지 띄우기 가능

웹페이지 주소창 없애고 띄우기도 가능
(하이브리드 앱)

vs

( 핸드폰 바로 위에서 동작 )
네이티브 앱
리액트-네이티브 앱 / flutter(dart))
(하이브리드 앱)